.shape {
	width:100%;
	margin:0 auto;
}
.top {
	height:0;
	border-width:0 0 150px 400px;
	border-style:solid;
	border-color:transparent #d71f55 #d71f55 transparent;
}
.bottom {
	height: 50px;
	background-color:#d71f55;
}

/* Support transparent border colors in IE6. */
* html .top {
	filter:chroma(color=#123456);
	border-top-color:#123456;
	border-left-color:#123456;
}


.contenedorDivsDiagonales{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width:100%;
}