html{
    background-color: #101010;
    color:white;
}

.evento{
    background-color: #101010;
}

.evento article{
    position: relative;
    background-image: url("images/fiesta2.jpg");
    background-size: cover;
    height: 400px;
    padding: 16px;
    margin: 16px;
    border: solid white 1px;
}

.sombreado{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("images/degradado.png");
    background-size: cover;
}

.titulo{
    width: 50%;
    padding : 32px 32px 0px 32px;
    font-size: 50px;
}

.subtitulo{
    width: 50%;
    padding : 0px 32px 32px 32px;
    color: white;
    font-size: 20px;
}

.texto{
    padding : 0px 32px 32px 32px;
    color: white;
    font-size: 16px;
}

.evento article h1{
    color: white;
}