
.navbar-default{
    transition: all 0.2 ease-in-out;
    /**background-color: rgba(236,236,236,0.50) !important;**/
    background-color: rgba(0,0,0,0.5) !important;
    /*border:none !important;*/
    border-color: rgba(16,16,16,0.2) !important;
    boren-bottom : solid 1px !important;
}

.navbar-header{
    padding:6px !important;
}

.navbar-header img{
    max-width: 40px;
}

.navbar-header h4{
    margin: 0px 16px;
    padding-top:10px; 
    color:white
}

nav li a{
    transition: color 0.2s ease-out;
    color:#777 !important;
    border-right: solid white thin;
}
nav li a:hover{
    color:white !important;
}