section.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto 100vh auto auto auto auto 100vh auto;
}

/*********************    PORTADA     ******************/
section.contenedor section.portada{
    background-image: url("/images/fachada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 1fr;
}

section.contenedor section.portada img{
    justify-self: center;
    align-self: center;
    width: 300px;
}

section.contenedor section.portada article.info{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 8px;
}

section.contenedor section.portada article.info section{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 44% 56%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-shadow: 2px 1px 2px black;
    padding: 8px;
}

section.contenedor section.portada article.info section h4{
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
    color: #9b9b9b;
}

section.contenedor section.portada article.info section article.masInfo{
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
}


/******************** DESC ***********************************/
section.contenedor section.desc{
    background: linear-gradient(#000000, #101010,#101010,#101010, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    border-top: solid 1px #181818;
    border-bottom: solid 1px #181818;

    padding: 32px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

section.contenedor section.desc article{
    grid-column: span 2;
    margin: 16px;
    background-color: #101010;
    border: solid 1px #403f3f;

    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

section.contenedor section.desc article:nth-child(2){
    /*grid-column: 2 / 4;*/
}

section.contenedor section.desc article section{
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 32px;
}

section.contenedor section.desc article section h2{
    justify-self: start;
    align-self: center;
    text-decoration: underline;
}

section.contenedor section.desc article section span{
    justify-self: center;
    align-self: center;
}

section.contenedor section.desc article > span{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.contenedor section.desc article > h4{
    position: absolute;
    bottom: 16px;
    right: 16px;
    text-transform: uppercase;
}

section.contenedor section.desc article > h4 > a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 1px 2px black;
    transition: color 0.2s ease-out;
}

section.contenedor section.desc article > h4 > a:hover{
    color: #777;
}

section.contenedor footer{
    background: white;
}

/************   eventos   **********************************/
section.contenedor section.eventos{
    background-image: url("/images/fiesta2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

section.contenedor section.eventos > article {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 16px;
    padding: 20%;
}

section.contenedor section.eventos > article > h1{
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 1px 2px black;
    font-size: 50px;
    text-align: center
}

section.contenedor section.eventos > article > p{
    color: white;
    text-align: center;
    text-shadow: 2px 1px 2px black;
    font-size: 14px
}

section.contenedor section.eventos > article > span{
    justify-self: center;
    align-self: center;
    border: solid 1px white;
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.50);
    width: 100%;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

section.contenedor section.eventos > article > span > a {
    color: white;
    text-decoration: none;
}

section.contenedor section.eventos > article > span:hover{
    background-color: rgba(16, 16, 16, 0.90);
}

/************   artistas   **********************************/
section.contenedor section.artistas{
    display: grid;
    grid-template-rows: auto 1fr;
    background: linear-gradient(#000000, #101010,#101010,#101010, #000000);
    padding:64px;
}

section.contenedor section.artistas > h2{
    color: white;
    text-shadow: 2px 1px 2px black;
    padding-bottom: 64px;
}

section.contenedor section.artistas section.contendorArtistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

section.contenedor section.artistas section.contendorArtistas > article{
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 4px;
    border: solid 1px #403f3f;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    cursor: pointer;
}

section.contenedor section.artistas section.contendorArtistas > article > span.sombra{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.99),rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.6),transparent,transparent, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.81),rgba(0, 0, 0, 0.99));
    transition: 0.3s ease-in-out;
}

section.contenedor section.artistas section.contendorArtistas > article:hover >span.sombra{
    background-color: rgba(0, 0, 0, 0.81);
}

section.contenedor section.artistas section.contendorArtistas > article > p {
    color: white;
    text-shadow: 2px 1px 2px black;
    padding: 0 16px 16px 16px;
    z-index: 1;
}

section.contenedor section.artistas section.contendorArtistas > article > span.icono {
    padding: 0 16px 16px 16px;
    text-align: end;
    z-index: 1;
}

section.contenedor section.artistas section.contendorArtistas > article > span.icono > a {
    color: white;
    text-shadow: 2px 1px 2px black;
    transition: 0.3s ease-in-out;
}

section.contenedor section.artistas section.contendorArtistas > article > span.icono > a:hover{
    color: #777;
}

section.contenedor section.artistas section.contendorArtistas > article > header{
    display: grid;
    grid-template-rows: auto auto;
    z-index: 1;
}

section.contenedor section.artistas section.contendorArtistas > article > header > h3 {
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 1px 2px black;
    padding: 16px 16px 0 16px;
}

section.contenedor section.artistas section.contendorArtistas > article > header > p {
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 1px 2px black;
    padding: 0 16px 16px 16px;
}

/************   barberos  ******************************/
section.contenedor section.barberos{
    background-image: url("/images/fondo_barberos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: grid;
    grid-template-rows: auto 1fr;
}

section.contenedor section.barberos > h2{
    color: white;
    text-shadow: 2px 1px 2px black;
    padding:64px 0 64px 0;
}

section.contenedor section.barberos section.contenedorBarberos{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding-bottom: 32px;
}

section.contenedor section.barberos section.contenedorBarberos > article {
    width: 250px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 4px;
    border: solid 1px #403f3f;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

section.contenedor section.barberos section.contenedorBarberos > article > span.sombra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.99),rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.6),transparent,transparent,transparent, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.81),rgba(0, 0, 0, 0.99));
    transition: 0.3s ease-in-out;
}

section.contenedor section.barberos section.contenedorBarberos > article:hover{
    background-size: 170%;
}

section.contenedor section.barberos section.contenedorBarberos > article:hover > span.sombra{
    background-color: rgba(0, 0, 0, 0.81);
}

section.contenedor section.barberos section.contenedorBarberos > article > section {
    display: grid;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    z-index: 1;
    padding-bottom: 30%;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 1px 2px black;
}

section.contenedor section.barberos section.contenedorBarberos > article > section > p {
    color: #777;
}

/************   servicios   **********************************/
section.contenedor section.servicios{
    background-image: url("/images/bombilla.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

section.contenedor section.servicios > article {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 16px;
    padding: 20%;
}

section.contenedor section.servicios > article > h1{
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 1px 2px black;
    font-size: 50px;
    text-align: center
}

section.contenedor section.servicios > article > p{
    color: white;
    text-align: center;
    text-shadow: 2px 1px 2px black;
    font-size: 14px
}

section.contenedor section.servicios > article > span{
    justify-self: center;
    align-self: center;
    border: solid 1px white;
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.50);
    width: 100%;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

section.contenedor section.servicios > article > span > a {
    color: white;
    text-decoration: none;
}

section.contenedor section.servicios > article > span:hover{
    background-color: rgba(16, 16, 16, 0.90);
}

/************   listado de servicios   **********************************/
section.contenedor section.listadoServicios{
    /*display: grid;*/
    /*grid-template-rows: auto 1fr;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000000, #101010,#101010,#101010, #000000);
    padding:32px;
}

section.contenedor section.listadoServicios > article{
    width: auto;
    height: auto;
    background-color: #101010;
    margin: 4px;
    border: solid 1px #403f3f;
    position: relative;
    display: grid;
    /*grid-template-columns: 148px 1fr;*/
    grid-template-columns: 1fr;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

section.contenedor section.listadoServicios > article:hover{
    background-color: #6b6a6a;
}

section.contenedor section.listadoServicios > article:hover > section > p{
    color: white;
}

section.contenedor section.listadoServicios > article > span {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-right: solid 1px #403f3f;
}

section.contenedor section.listadoServicios > article > span > span.sombra {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.91);
}

section.contenedor section.listadoServicios > article > section{
    display: grid;
    grid-template-rows: auto auto;
}

section.contenedor section.listadoServicios > article > section > h3{
    text-transform: uppercase;
    text-shadow: 2px 1px 2px black;
    color: white;
    padding: 8px 8px 0 8px;
    text-align: center;
}

section.contenedor section.listadoServicios > article > section > p {
    color: #6b6a6a;
    text-shadow: 2px 1px 2px black;
    padding: 8px;
    text-align: center;
    transition: 0.3s ease-in-out;
}


    /************   mapa   **********************************/
section.contenedor section.mapa{
    background-color: #101010;
    position: relative;
}

/************   footer   ********************************/
footer{
    padding: 80px 0 80px 0;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
}


/*PANTALLAS GRANDES*/
@media (min-width: 1025px){
    section.contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 100vh auto 100vh auto 100vh auto auto 100vh auto;
    }

    /*********************    PORTADA     ******************/
    section.contenedor section.portada{
        grid-template-rows: 80% 20%;
    }

    section.contenedor section.portada img{
        padding-top: 16px;
        width: 600px;
    }

    section.contenedor section.portada article.info{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0px;
    }

    section.contenedor section.portada article.info section{
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    section.contenedor section.portada article.info section h4{
        font-size: 14px;
        padding: 32px;
    }

    section.contenedor section.portada article.info section article.masInfo{
        justify-self: center;
        align-self: flex-start;
        text-transform: none;
        text-align: center;
    }

    section.contenedor section.portada article.info section article.masInfo span{
        font-size: 35px;
    }

    /******************** DESC ***********************************/
    section.contenedor section.desc{
        padding: 64px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    section.contenedor section.desc article{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    section.contenedor section.desc article:nth-child(2){
        grid-column: 2 / 4;
    }

    /************   eventos   **********************************/

    section.contenedor section.eventos > article > h1{
        font-size: 100px;
    }

    section.contenedor section.eventos > article > p{
        font-size: 18px
    }

    section.contenedor section.eventos > article > span{
        width: 50%;
    }

    /************   SERVICIOS   **********************************/

    section.contenedor section.servicios > article > h1{
        font-size: 100px;
    }

    section.contenedor section.servicios > article > p{
        font-size: 18px
    }

    section.contenedor section.servicios > article > span{
        width: 50%;
    }

    /************   barberos   **********************************/
    section.contenedor section.barberos section.contenedorBarberos > article {
        width: 300px;
        height: 500px;
    }

    section.contenedor section.barberos section.contenedorBarberos{
        padding-bottom: 64px;
    }

    /************ servicios ***************************************/
    section.contenedor section.listadoServicios{
        padding:64px;
    }

    section.contenedor section.listadoServicios > article{
        width: 500px;
        height: 150px;
    }

}


